main {
    padding: 100px;
}

.form {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 6px 5px 15px grey;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
#bank {
    display: none;
}

@media (max-width:500px) {
    main{padding:50px 20px}
    .status{margin: 20px;}
}
